@import url('fonts.googleapis.com/css?family=Architects+Daughter');
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    background-color: #6bffff;
}

button{
    box-sizing: border-box;
}

html{
    background-color: white;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.dark:not(table){
    filter: invert(100%);
}

.dk{
    background-color: #f00;
}

input{
    font-family: 'Architects Daughter', handwriting;
}
